<div class="main-container">
    <div class="category">
        <div class="wrapper">
            <div class="item" *ngFor="let item of categoryList" [routerLink]="['/stores', item.link]">
                <img src={{item.url}} alt={{item.name}} />
                <h3>{{item.name}}</h3>
            </div>
        </div>
    </div>
    <div class="image-slider">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of carouselImageList, let i=index">
                <ng-template carouselSlide [id]="slide">
                    <img src={{slide}} alt="i" class="carousel-cell">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
    <div class="featured">
        <div class="">Latest Arrivals</div>
        <div class="list">
            <div class="items">
                <div class="product-container">
                    <owl-carousel-o [options]="customOptionsF">
                        <ng-container *ngFor="let slide of featuredProductList">
                            <ng-template carouselSlide [id]="slide.id">
                                <product [productInfo]="slide" [category]="slide?.category"></product>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
