<div class="product-list" >
    <h3>Product list</h3>
    <table *ngIf="products">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td><img src={{product.imageurl}}></td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.color}}</td>
                <td>{{product.category}}</td>
            </tr>
        </tbody>
    </table>
</div>