$primarycolor: #c9dee5;
$flashlightcolor: #ecf5f6;
$bluebg: #91d5e7;
$mossgreen: #bbdfac;
$riflegreengrey: #474642;
$backgroundcolor: #388;


.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $flashlightcolor;

  .sign-up-heading {
    margin-top: 25px;
    color: $riflegreengrey;
  }

  .common-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $bluebg;
    padding: 25px;
    margin-top: 20px;
    width: 35%;

    border-radius: 7px;

    h4{
      font-size: 15px;
      margin-top:15px;
      span{
        color:$backgroundcolor;
      }
    }
  }

  .form-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $backgroundcolor;
    width: 80%;
    height: 35px;
    color: $riflegreengrey;
  }

  .form-btn {
    height: 35px;
    width: 80%;
    margin-top: 25px;
    padding: 10px;
    color: $backgroundcolor;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: $bluebg;
    border: 1px solid $backgroundcolor;
    border-radius: 5px;
  }

  .form-btn:hover {
    background-color: $backgroundcolor;
    color: $riflegreengrey;
  }
}
