<div class="seller-auth">
    <div class="sign-up"  *ngIf="signupshow">
        <h2 class="sign-up-heading">Seller Sign-up</h2>
        <form class="" [formGroup]="signupForm" (ngSubmit)="signup()">
    
            <mat-form-field>
                <input matInput placeholder="Enter your name"  formControlName="fullName"/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="***********"  formControlName="password"/>
            </mat-form-field>
            

             <mat-form-field>
                 <input matInput placeholder="example@email.com" formControlName="email"/>
             </mat-form-field>

            <button mat-button >Sign up</button>

            <h4 class="">Already registered. <span (click)="showlogin()">Login Here</span></h4>
        </form>
    </div>

    <div class="sign-up"  *ngIf="loginshow">
        <h2 class="sign-up-heading">Seller Login</h2>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            
            <mat-form-field>
                <input matInput placeholder="example@email.com" formControlName="email"/>
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="***********"  formControlName="password"/>
            </mat-form-field>

           

            <button class="form-btn">Login</button>
            <h4 class="">New member <span (click)="showsignup()">Register Here</span></h4>
        </form>
    </div>
</div>