<div class="seller-auth">
    <div class="sign-up"  *ngIf="signupshow">
        <h2 class="sign-up-heading">Seller Sign-up</h2>
        <form class="common-form" #sellerSignUp="ngForm" (ngSubmit)="sign(sellerSignUp.value)">
            <input type="text" class="form-input"  ngModel
            placeholder="Enter your name" name="name" />

            <input type="password" class="form-input" ngModel
             placeholder="password" name="password" />

            <input type="email" class="form-input"  ngModel
            placeholder="example@example.com" name="email" />

            <!-- <input type="text" class="form-input" ngModel
             placeholder="Enter your name" name="name" /> -->

            <button class="form-btn">Sign up</button>

            <h4 class="">Already registered. <span (click)="showlogin()">Login Here</span></h4>
        </form>
    </div>

    <div class="sign-up"  *ngIf="loginshow">
        <h2 class="sign-up-heading">Seller Login</h2>

        <form class="common-form" #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
            
            <input type="email" class="form-input"  ngModel
            placeholder="example@example.com" name="email" />
            
            <input type="password" class="form-input" ngModel
             placeholder="password" name="password" />


            <!-- <input type="text" class="form-input" ngModel
             placeholder="Enter your name" name="name" /> -->

            <button class="form-btn">Login</button>
            <h4 class="">New member <span (click)="showsignup()">Register Here</span></h4>
        </form>
    </div>
</div>