<!-- <div class="footer">
    <h3 class="footer-title">D-Hypermarket &copy; 2023</h3>
</div> -->

<div class="footer">
    <div class="top">
        <div class="div1">
             <h3>D-Hypermarket</h3>
             <div class="social">
                <h3>Social Media</h3>
                <div class="social-icons">
                    <p>instagram</p>
                    <p>twitter</p>
                    <p>linkedin</p>
                </div>
             </div>
        </div>
        <div class="div2">
            <h3>SHOP</h3>
            <p>Products</p>
            <p>Overview</p>
            <p>Pricing</p>
            <p>Releases</p>
        </div>
        <div class="div3">
            <h3>COMPANY</h3>
            <p>About us</p>
            <p>Contact</p>
            <p>News</p>
            <p>Support</p>
        </div>
        <div class="div4">
            <h3>STAY UP TO DATE</h3>
            <div class="email-input">
                <!-- <mat-form-field appearance="outline"> -->
                    <input matInput placeholder="example@email.com" type=""/>
                <!-- </mat-form-field> -->
                <button >Submit</button>
            </div>
        </div>
    </div>
    <div class="bottom">
        <hr style="width: 100%;">
        <span>Terms</span>
        <span>Privacy</span>
        <span>Cookies</span>
    </div>
</div>