<!-- <div class="footer">
    <h3 class="footer-title">D-Hypermarket &copy; 2023</h3>
</div> -->

<div class="footer">
    <div class="top">
        <div class="div1">
             <h3>LOGO HERE</h3>
             <div class="social">
                <h6>Social Media</h6>
                <div class="social-icons">
                    <p><mat-icon>instagram</mat-icon></p>
                    <p><mat-icon>twitter</mat-icon></p>
                    <p><mat-icon>linkedin</mat-icon></p>
                </div>
             </div>
        </div>
        <div class="div2">
            <h6>Shop</h6>
            <p>Products</p>
            <p>Overview</p>
            <p>Pricing</p>
            <p>Releases</p>
        </div>
        <div class="div3">
            <h6>Company</h6>
            <p>About us</p>
            <p>Contact</p>
            <p>News</p>
            <p>Support</p>
        </div>
        <div class="div4">
            <h3>Stay Up to Date</h3>
            <div class="email-input">
                 <input matInput placeholder="example@email.com" type="text"/>
                 <button mat-raised-button >Submit</button>
            </div>
        </div>
    </div>
    <div class="bottom">
        <hr style="width: 100%;">
        <span>Terms</span>
        <span>Privacy</span>
        <span>Cookies</span>
    </div>
</div>