$primarycolor:#c9dee5;
$flashlightcolor:#ecf5f6;
$bluebg:#91d5e7;
$mossgreen:#BBDFAC;
$riflegreengrey:#474642;
$backgroundcolor:#388;

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}